@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

:root {
  --C_primary: #3bb9b9;
  --C_secondary: #213F7D;
  --C_primary_hover: #39CDCC;;
  --C_primary_disabled: #0f2904;
  --C_gray_lite: #CCD8E1;
  --C_success: #33B97B;
  --C_danger: #E25353;
  --C_border_danger: #FF2414;
  --C_warning: #FFD56A;
  --C_bg_danger: #FFEFEB;
  --C_white: #FFFFFF;
  --C_black: #0F1011;
  --C_black_lite: #39CDCC;
  --c_gray: #7787a4;
  --c_gray_lite: #6D6D6D;
  --C_blue_light: #091e42;
  --BG_primary: #F9F9F9;
  --C_text_dark: #545F7D;
  --F_mont: 'Inter', sans-serif;
  --F_24: 24px;
  --c_success_hover: #F3FCFC;
  --c_success_disabled: #556777;
}

